:root,
body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #0d122b;
  width: 100%;
  box-sizing: border-box;
}
.nav-wrapper {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  top: 0;
}
.floating-nav {
  -webkit-box-shadow: 0 10px 10px -10px #d4d4d4;
  -moz-box-shadow: 0 10px 10px -10px #d4d4d4;
  box-shadow: 0 10px 10px -10px #d4d4d4;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
nav {
  padding: 1em;
  background-color: white;
  font-family: "Overpass";
  font-size: 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 800px) {
  nav {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  nav {
    display: flex;
    justify-content: center;
  }
}
nav .links {
  width: 87.5vw;
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 800px) {
  nav .links {
    display: none;
  }
}
@media (max-width: 500px) {
  nav .links {
    display: none;
  }
}
nav a {
  text-decoration: none;
  color: black;
  padding-left: calc(87.5vw / 6 - 50);
}
nav a:hover {
  color: #e03e3e;
}
nav .cta {
  color: maroon;
  background-color: #a4f79d;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  border: 2px solid black;
  font-family: "Overpass";
  text-align: center;
}
nav .cta:hover {
  color: #eaf5e9;
  background-color: #ca0b0b;
}
.about {
  font-family: "Noto Sans JP", sans-serif;
  margin-top: 100px;
}
.about h2 {
  text-align: center;
}
.about .team {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  align-content: space-between;
}
.card {
  background-color: rgba(238, 243, 220, 0.651);
  min-width: 200px;
  max-width: 200px;
  padding: 2rem;
  margin: 2rem;
  text-align: center;
}
.card img {
  max-width: inherit;
  height: 200px;
  border-radius: 100px;
}
.cta-wrapper {
  background-color: lightsalmon;
  font-family: "Noto Sans JP";
  font-size: 1.2rem;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: column wrap;
}
@media (max-width: 800px) {
  .cta-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .cta-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.cta-wrapper .cta {
  display: flex;
}
@media (max-width: 800px) {
  .cta-wrapper .cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .cta-wrapper .cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.cta-wrapper ul {
  display: inline;
}
.cta-wrapper a {
  text-decoration: none;
}
.cta-wrapper .sign-up,
.cta-wrapper .log-in {
  min-width: 100px;
  max-width: 100px;
  min-height: 25px;
  max-height: 25px;
  border: 2px solid black;
  border-radius: 3px;
  font-family: "Overpass";
  margin: 10px;
  list-style-type: none;
  color: black;
  padding: 5px;
  text-align: center;
}
.cta-wrapper .sign-up {
  background-color: #f5475e;
  color: white;
}
.cta-wrapper .sign-up:hover {
  color: #f5475e;
  background-color: white;
}
footer {
  background-color: #0d122b;
  font-family: "Overpass";
  font-size: 1.2rem;
  color: white;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 800px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 500px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
}
