.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
};

.flex-column {
  flex-direction: column;
  justify-content: center;
};

.three-columns {
  width: 31%;
  padding: 1%;
};

.two-columns {
  width: 48%;
  padding: 1%;
};

.one-column {
  width: 98%;
  padding: 1%;
};


.box-bg (@bgcolor, @thick, @bordercolor) {
  background: @bgcolor;
  border: @thick solid @bordercolor;
  border-radius: 20px;
}