header {
  nav {
    .flex();
    .flex-column();
    position: fixed;
    width: 100%;
    margin-top: -8.5%;
    height: 18vh;
    background-color: white;
    font-family: "Solway";
    font-size: 1.6rem;

    @media @tablet {
      height: 15vh;
    }

    @media @mobile {
      height: 10vh;
    }

    div {
      width: 100%;
      opacity: 1;
    }

    a {
      color: @red;
      font-size: 2.5rem;
      text-decoration: none;
      margin: 1%;
      padding: 1%;

      @media @tablet {
        font-size: 2rem;
      }

      @media @mobile {
        font-size: 1.2rem;
      }

      &:hover {
        color: @white;
      }
    }

    .active-link {
      text-decoration: underline;
    }

    .icon-link {
      color: black;

      &:hover {
        color: black;
      }
    }

    .signUp-logIn {
      .flex();
      justify-content: flex-end;
      height: 5vh;

      @media @mobile {
        visibility: hidden;
        height: 0;
      }
    }

    .header-modal {
      font-size: 0.8rem;
      margin: 0 auto;
      padding: 0;
    }

    h5 {
      width: 100%;
      text-align: end;
    }

    .navbar {
      .flex();
      padding-bottom: 1%;

      @media @mobile {
        height: 50%;
        margin-left: 2%;
      }

      .nav-links {
        .flex();
        margin-left: 2%;
        margin-right: 2%;
        justify-content: space-evenly;

        @media @mobile {
          width: 45%;
          margin: 0;
          justify-content: space-around;
        }
      }

      .nav-icon {
        .flex();
        justify-content: center;
        width: 30%;

        @media @mobile {
          order: 1;
          align-items: flex-start;
        }
      }

      .middleNavIcon {
        font-size: 4rem;

        @media @tablet {
          font-size: 2.5rem;
        }

        @media @mobile {
          font-size: 2rem;
        }
      }
    }
  }

  .headerImgContainer {
    background-image: url(../images/dumbbells.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    height: 50vh;
    margin-top: 8%;
    border-bottom: 1px solid black;

    h1 {
      color: @red;
      height: 50%;
      padding-top: 10%;

      @media @tablet {
        font-size: 3.5rem;
        padding-top: 15%;
      }

      @media @mobile {
        font-size: 3rem;
        padding-top: 25%;
      }
    }

    h2 {
      color: @red;
      height: 50%;
      padding-top: 4%;

      @media @tablet {
        font-size: 2.5rem;
        padding-top: 5%;
      }

      @media @mobile {
        font-size: 2.2rem;
        padding-top: 8%;
      }
    }
  }
}
