header {
  nav {
    .flex();
    .flex-column();
    
    div {
      width: 100%;
    }

    .signUp-logIn {
      .flex();
      justify-content: flex-end;
    }

    .navbar {
      .flex();
    }
  }

  .headerImgContainer {
    background-image: url(../images/dumbbells.jpg);
    background-position: center;
    background-size: cover;
  }
}