header {
  nav {
    .flex();
    .flex-column();
    
    div {
      width: 100%;
    }

    a {
      color: @steel;
      font-size: 2.5rem;
      text-decoration: none;
      margin: 1%;
      padding: 1%;
    }

    a:hover {
      color: @red;
    }

    .signUp-logIn {
      .flex();
      justify-content: flex-end;
    }

    .header-modal {
      font-size: .8rem;
      margin: 0 auto;
      padding: 0;
    }

    h5 {
      width: 100%;
      text-align: end;
    }

    .navbar {
      .flex();
    }
  }

  .headerImgContainer {
    background-image: url(../images/dumbbells.jpg);
    background-position: center;
    background-size: cover;
  }
}